@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-family: "Merienda", cursive;
    text-transform: capitalize;
    text-decoration: none;
}

.hh{
    text-align: center;
    font-size: 2rem;  
    background-color: chocolate;
    color: white;  
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
}

.hh .icons a img{
    width: 30px;
}

.full{
    background-color: whitesmoke;
}
.oo{
    margin-bottom: 1rem;
}

.about{
    margin-bottom: 1rem;
}

.about button{
    margin-top: 30px;
    padding: 5px 8px;
    background-color: chocolate;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}

.about button:hover{
    background-color: green;
}

.inte ul{
    margin-left: 30px;
    margin-bottom: 1rem;
}
.sec2 .inte__main{
    margin-top: 50px;
    gap: 20px;
    justify-content: center;
    display: flex;
}

.sec2 .inte__main .inte{
    background-color: white;
    border-radius: 25px;
    padding: 8px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.sec2 .inte__main .pro{
    background-color: white;
    border-radius: 25px;
    padding: 8px;
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.pro ul{
    margin-left: 30px;
    margin-bottom: 1rem;
}

.footer .foo{
    background-color: chocolate;
    padding: 1rem;
    color: white;
}

.footer .foo p a{
    color: rgb(0, 217, 255);
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 4rem;
    height: 680px;
    background-image: url("bg.jpg");
    object-fit: cover;
}

.box .fle .about p{
    text-align: justify;
}

.box img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

/* ul > li{
    list-style: none;
} */

.sec2{
    height: 500px;
    padding: 50px;
    line-height: 2.5rem;
    background-image: url("bg2.jpg");
    object-fit: cover;
}